header {
    background: lightblue;
    padding: 1.5em;
    flex: 0 80px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

main {
    text-align: center;
    flex: 1;
    background: lightgrey;
    display: flex;
    flex-direction: row;
}
img {
    flex: 0 100px;
}
table {
    flex: 1;
    border: thin black solid;
    font-size: 50;
    font-family: sans-serif;
}
td {
    border: thin grey solid;
}
#selfReport {
    text-align: left;
}
#otherReport {
    text-align: right;
}
#userInput {
    padding: 0;
    border-width: 0;
    flex: 1;
    background: lightyellow;
    text-align: center;
    font-size: 35;
    font-family: sans-serif;
}
.buttonInput {
    padding: 0;
    height: 100%;
    width: 95%;
    text-align: center;
    font-size: 35;
}

footer {
    background: lightsalmon;
    flex: 0 30px;
    text-align: center;
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
}