head {
    background: lightblue;
    padding: 1.5em;
    flex: 0 80px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    padding: 0;
}

main {
    text-align: center;
    flex-shrink: 4;
    background: lightgrey;
    display: flex;
    flex-direction: row;
}
img {
    flex: 1;
    height: 100%;
    width: 50%;
    margin: 0;
    text-align: center;
}
table {
    flex: 14;
    border: thin black solid;
    font-size: 50;
    font-family: sans-serif;
    min-height: 100%;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}
td {
    border: thin grey solid;
    height: min-content;
    
}
#selfReport {
    text-align: left;
}
#otherReport {
    text-align: right;
}

#userInput {
    padding: 0;
    border: 0;
    flex: 1;
    flex-wrap: nowrap;
    background: #717101;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100%;
    min-height: 100px;
    width: 100%;
}
.buttonInput {
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: left;
    flex-grow: 17;
    height: 100%;
    box-sizing: border-box;
}
.buttonChat {
    padding: 0;
    margin: 0;
    justify-content: right;
    flex-grow: 1;
    height: 100%;
}

footer {
    background: lightsalmon;
    flex: 0 30px;
    text-align: center;
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
    img {
        text-align: center;
        padding-left: 25%;
    }
}