body {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
}

header {
    flex: 0 50px;
    border-bottom: thin black solid;
}

main {
    flex: 1;
    display: flex;
    text-align: center;
    font-weight: bold;
}
h6 {
    font-weight: bold;
}
table {
    flex: 1;
    text-align: center;
}

footer {
    flex: 0 30px;
    text-align: center;
    border-top: thick black solid;
}