head {
    background: lightblue;
    padding: 1.5em;
    flex: 0 80px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    padding: 0;
}

.main-container {
    margin-top: 80px;
    color: black;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
.book-image {
    flex: 1;
    height: 75%;
    margin: 0;
}
.chat-section {
    text-align: center;
    flex: 14;
    font-size: 50;
    font-family: sans-serif;
    height: 100%;
    min-height: min-content;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
th {
    flex: 1;
    float: center;
    height: min-content;
}
td#selfReport {
    flex: 2;
    max-height: min-content;
    text-align: left;
}
td#otherReport {
    flex: 2;
    max-height: min-content;
    text-align: right;
}

#userInput {
    padding: 0;
    border: 0;
    flex: 0 80px;
    flex-wrap: nowrap;
    background: #717101;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100%;
    min-height: 100px;
    width: 100%;
}
.buttonInput {
    text-align: center;
    padding: 0;
    margin: 0;
    flex-grow: 17;
    height: 100%;
    box-sizing: border-box;
}
.buttonChat {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    height: 100%;
}

footer {
    background: lightsalmon;
    flex: 0 30px;
    text-align: center;
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
    img {
        text-align: center;
        padding-left: 25%;
    }
}